<StackLayout class="formaElemento">
    <GridLayout rows="auto" columns="200%,200%">
        <StackLayout row="0" col="0" class="verticalBottom">
            <Label text="Id:"></Label>
            <TextField class="input"></TextField>
        </StackLayout>
        <StackLayout row="0" col="1" class="imagenElemento">
            <Image src="https://via.placeholder.com/150" width="125" height="125"></Image>
        </StackLayout>                
    </GridLayout>
    <StackLayout class="input-field">
        <Label text="Nombre:"></Label>
        <TextField class="input"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
        <Label text="Categoría:"></Label>
        <TextField class="input"></TextField>
    </StackLayout>
    <GridLayout rows="auto" columns="200%,200%">
        <StackLayout row="0" col="0">
            <Label text="Costo:"></Label>
            <TextField class="input"></TextField>
        </StackLayout>
        <StackLayout row="0" col="1">
            <Label text="Precio:"></Label>
            <TextField class="input"></TextField>
        </StackLayout>                
    </GridLayout>
    <GridLayout rows="auto" columns="100%,200%,100%">
        <StackLayout row="0" col="0">
            <Label text="Máximo:"></Label>
            <TextField class="input"></TextField>
        </StackLayout>
        <StackLayout row="0" col="1">
            <Label text="Inventario:"></Label>
            <TextField class="input"></TextField>
        </StackLayout>        
        <StackLayout row="0" col="2">
            <Label text="Minimo:"></Label>
            <TextField class="input"></TextField>
        </StackLayout>        
    </GridLayout>
    <StackLayout class="input-field">
        <Label text="BOM:"></Label>
        <TextField class="input"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
        <Label text="Sustitutos:"></Label>
        <TextField class="input"></TextField>
    </StackLayout>
    <Button text="Guardar" class="btn btn-primary"></Button>
</StackLayout>