<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header">
            <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
            <Label class="sidedrawer-header-brand" text="Nombre de usuario"></Label>
            <Label class="footnote" text="usuario@mail.com"></Label>
        </StackLayout>
    
        <ScrollView row="1" class="sidedrawer-content">
            <StackLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/homeMain')" (tap)="onNavItemTap('/homeMain')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="Inicio" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/clientesMain')" (tap)="onNavItemTap('/clientesMain')">
                    <Label col="0" text="&#xf1ea;" class="fa"></Label>
                    <Label col="1" text="Clientes" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/productosMain')" (tap)="onNavItemTap('/productosMain')">
                    <Label col="0" text="&#xf002;" class="fa"></Label>
                    <Label col="1" text="Productos" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/proveedoresMain')" (tap)="onNavItemTap('/proveedoresMain')">
                    <Label col="0" text="&#xf005;" class="fa"></Label>
                    <Label col="1" text="Proveedores" class="p-r-10"></Label>
                </GridLayout>
    
                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/settingsMain')" (tap)="onNavItemTap('/settingsMain')">
                    <Label col="0" text="&#xf013;" class="fa"></Label>
                    <Label col="1" text="Ajustes" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
