<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem ios:visibility="collapsed" android.position="right"  color="white" icon="res://back" (tap)="setNuevoProducto()">
        <Label text="&#xf067;" class="fa"></Label>
    </ActionItem>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Productos"></Label>
</ActionBar>

<GridLayout class="page page-content">

    <ListView [items]="productosArr" class="list-group">
        <ng-template let-item="item">
          <StackLayout orientation="horizontal" (tap)="alerta(item)">
                  <Image width="50" height="50" src="https://img.icons8.com/color/48/000000/ingredients.png" ></Image>
                  <Label [text]="item.nombre" class="list-group-item"></Label>
          </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>